{% extends 'base.html' %}
{% load static %}
{% block head %}
 <link rel="stylesheet" href="{% static 'cardb/auta.css' %}" type="text/css" />
<title>Auta</title>
{% endblock head %}

{% block content %}
<table>
    <tr>
        <th>Nr Rejestracyjny</th>
        <th>Marka</th>
        <th>Rok Produkcji</th>
        <th>Pesel</th>
    </tr>
    {% for auto in auta  %}
    <tr>
        <td>{{auto.nr_rejestracyjny}}</td>
        <td>{{auto.marka}}</td>
        <td>{{auto.rok_produkcji}}</td>
        <td>{{auto.pesel}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}