{% extends 'base.html' %}
{% load static %}
{% load cardb_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'cardb/auta.css' %}" type="text/css" />
<title>Auta</title>
{% endblock head %}

{% block content %}

<form method="get">
    <div class="nrrej">
        <label for="id_nr_rejestracyjny">Nr Rejestracyjny:</label>
        {{myFilter.form.nr_rejestracyjny__icontains}}
    </div>
    <div class="marka">
        <label for="id_marka">Marka:</label>
        {{myFilter.form.marka__icontains}}
    </div>
    <div class="rok">
        <label for="id_rok_produkcji_gte">Rok Produkcji od:</label>
        {{myFilter.form.rok_produkcji__gte}}
    </div>
    <div class="rok">
        <label for="id_rok_produkcji_lte">do:</label>
        {{myFilter.form.rok_produkcji__lte}}
    </div>
    <div class="pesel">
    <label for="id_pesel">Pesel:</label>
    {{myFilter.form.pesel__icontains}}
    </div>
    <input type="submit" value="Szukaj" class="search"/>
</form>
<table>
    {% comment %} {% if  request.get_full_path == '/auta/' %}
    <tr>
        <th>Nr Rejestracyjny <a href="{{request.get_full_path}}?sortid=nr_rejestracyjny">sort</a></th>
        <th>Marka<a href="{{request.get_full_path}}?sortid=marka">sort</a></th>
        <th>Rok Produkcji<a href="{{request.get_full_path}}?sortid=rok_produkcji">sort</a></th>
        <th>Pesel<a href="{{request.get_full_path}}?sortid=pesel">sort</a></th>
    </tr>
    {% else %} {% endcomment %}
    <tr>
        <th>Nr Rejestracyjny <a href="{{request.path}}?{% url_replace 'sortid' 'nr_rejestracyjny' %}">sort</a></th>
        <th>Marka<a href="{{request.path}}?{% url_replace 'sortid' 'marka' %}">sort</a></th>
        <th>Rok Produkcji<a href="{{request.path}}?{% url_replace 'sortid' 'rok_produkcji' %}">sort</a></th>
        <th>Pesel<a href="{{request.path}}?{% url_replace 'sortid' 'pesel' %}">sort</a></th>
    </tr>
    {% comment %} {% endif %} {% endcomment %}
    {% for auto in auta %}
    <tr>
        <td>{{auto.nr_rejestracyjny}}</td>
        <td>{{auto.marka}}</td>
        <td>{{auto.rok_produkcji}}</td>
        <td>{{auto.pesel}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}