{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="{% static 'cardb/base.css' %}" type="text/css" />
    {% block head %}{% endblock head %}
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <a class="logo" href="">Projekt<span>Web</span></a>
        <nav>
          <ul>
          {{request.path}}
            {% if request.path == '/osoby/' %}
            <li class="index-hl"><a href="osoby">Osoby</a></li>
            {% else %}
            <li class="index"><a href="osoby">Osoby</a></li>
            {% endif %}
            {% if request.path == '/auta/' %}
            <li class="index-hl"><a href="auta">Auta</a></li>
            {% else %}
            <li class="index"><a href="auta">Auta</a></li>
            {% endif %}
            {% if request.path == '/wypadki/' %}
            <li class="index-hl"><a href="wypadki">Wypadki</a></li>
            {% else %}
            <li class="index"><a href="wypadki">wypadki</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    {% block content %}{% endblock content %}
  </body>
</html>