<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
</head>

<body>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="username" name="username">
        <input type="password" name="password">
        <input type="submit" value="Zaloguj Się">
    </form>
    {% for message in messages %}
    {{message}}
    {% endfor %}
    <p>Nie masz konta? <a href="/register/">Zarejestruj się</a></p>
    <p>Zapomniałeś hasła? <a href="/reset_password/">Resetuj hasło</a></p>
</body>

</html>