{% extends 'base.html' %}
{% load static %}
{% load cardb_tags %}
{% block head %}
<link rel="stylesheet" href="{% static 'cardb/osoby.css' %}" type="text/css" />
<title>Osoby</title>
{% endblock head %}

{% block content %}

<form method="get">
    <div class="pesel">
        <label for="id_pesel">Pesel:</label>
        {{myFilter.form.pesel__icontains}}
    </div>
    <div class="imie">
        <label for="id_imie">Imię:</label>
        {{myFilter.form.imie__icontains}}
    </div>
    <div class="nazwisko">
        <label for="id_nazwisko">Nazwisko:</label>
        {{myFilter.form.nazwisko__icontains}}
    </div>
    <div class="typ_miejscowosci">
        <label for="id_typ_miejscowosci">Typ miejscowości:</label>
        {{myFilter.form.typ_miejscowosci__iexact}}
    </div>
    <input type="submit" value="Szukaj" class="search"/>
</form>
<table>
    <tr>
        <th>Pesel<a href="{{request.path}}?{% url_replace 'sortid' 'pesel' %}">
            {% if mySort == 'pesel' %}
            <img src="{% static 'cardb/sort-button-desc.png' %}" alt="sort button descending">
            {% else %}
            <img src="{% static 'cardb/sort-button.png' %}" alt="sort button">
            {% endif %}
        </a></th>
        <th>Imię<a href="{{request.path}}?{% url_replace 'sortid' 'imie' %}">
            {% if mySort == 'imie' %}
            <img src="{% static 'cardb/sort-button-desc.png' %}" alt="sort button descending">
            {% else %}
            <img src="{% static 'cardb/sort-button.png' %}" alt="sort button">
            {% endif %}
        </a></th>
        <th>Nazwisko<a href="{{request.path}}?{% url_replace 'sortid' 'nazwisko' %}">
            {% if mySort == 'nazwisko' %}
            <img src="{% static 'cardb/sort-button-desc.png' %}" alt="sort button descending">
            {% else %}
            <img src="{% static 'cardb/sort-button.png' %}" alt="sort button">
            {% endif %}
        </a></th>
        <th>Typ miejscowości<a href="{{request.path}}?{% url_replace 'sortid' 'typ_miejscowosci' %}">
            {% if mySort == 'typ_miejscowosci' %}
            <img src="{% static 'cardb/sort-button-desc.png' %}" alt="sort button descending">
            {% else %}
            <img src="{% static 'cardb/sort-button.png' %}" alt="sort button">
            {% endif %}
        </a></th>
    </tr>
    {% for osoba in osoby %}
    <tr>
        <td>{{osoba.pesel}}</td>
        <td>{{osoba.imie}}</td>
        <td>{{osoba.nazwisko}}</td>
        <td>{{osoba.typ_miejscowosci}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}