{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static 'cardb/register.css' %}" type="text/css" />
</head>
<body>
    <section>
        <form method="post" action="">
            {% csrf_token %} 
            <div class="error">{{form.password2.errors}}</div>
            <table>
                <tr>
                <td class="label">{{form.username.label}}</td>
                <td>{{form.username}}</td>
                </tr>

                <tr>
                <td class="label">{{form.email.label}}</td>
                <td>{{form.email}}</td>
                </tr>

                <tr>
                <td class="label">{{form.password1.label}}</td>
                <td>{{form.password1}}</td>
                </tr>

                <tr>
                <td class="label">{{form.password2.label}}</td>
                <td>{{form.password2}}</td>
                </tr>
            </table>
            <p><input type="submit" name="register" value="Zarejestruj się"></p>
        </form>
        <p class="navlist">Masz już konto? <a href="/login/">Zaloguj się</a></p>
    </section>
</body>
</html>