{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetuj hasło</title>
    <link rel="stylesheet" href="{% static 'cardb/reset_password.css' %}" type='text/css'>
</head>

<body>
    <h3>Resetuj hasło</h3>
    <p>Wpisz poniżej adres e-mail, na który chcesz otrzymać instrukcję zmiany hasła.</p>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="send" value="Wyślij">
    </form>
</body>

</html>