<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetuj hasło</title>
</head>

<body>
    <h3>Wprowadź nowe hasło</h3>
    <p>Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.</p>
    <form method="post">
        {% csrf_token %}
        <p>
        {{form.new_password1.label}}
        {{form.new_password1}}
        </p>
        <p>{{form.new_password1.errors}}</p>
        <p>
        {{form.new_password2.label}}
        {{form.new_password2}}
        </p>
        <p>{{form.new_password2.errors}}</p>
        <input type="submit" name="set-password" value="Ustaw hasło">
    </form>
</body>

</html>