<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetuj hasło</title>
</head>

<body>
    <h3>Potwierdzenie zresetowania hasła zostało wysłane</h3>
    <p>Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się
        pojawić na twoim koncie pocztowym.</p>
    <p>W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas
        rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
</body>

</html>