{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasło zresetowane</title>
    <link rel="stylesheet" href="{% static 'cardb/reset_password.css' %}" type='text/css'>
</head>

<body>
    <h3>Zresetowanie hasła powiodło się</h3>
    <p>Twoje hasło zostało ustawione. Możesz się teraz zalogować.</p>
    <p><a href="/login/">Zaloguj Się</a></p>
</body>

</html>