{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resetuj hasło</title>
    <link rel="stylesheet" href="{% static 'cardb/reset_password_confirm.css' %}" type='text/css'>
</head>

<body>
    <h3>Wprowadź nowe hasło</h3>
    <p>Podaj dwukrotnie nowe hasło, by można było zweryfikować, czy zostało wpisane poprawnie.</p>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td class="label">{{form.new_password1.label}}</td>
                <td>{{form.new_password1}}</td>
            </tr>
            <tr>
                <td class="label">{{form.new_password2.label}}</td>
                <td>{{form.new_password2}}</td>
            </tr>
        </table>
        <p>{{form.new_password2.errors}}</p>
        <input type="submit" name="set-password" value="Ustaw hasło">
    </form>
</body>

</html>