form{
    text-align: center;
    padding: 2em 4em;
    div{
        display: inline;
    }
   .nrrej{
       input{
            width: 5em;
        }
   }
   .marka{
       input{
            width: 7em;
        }
   }
   .rok{
       input{
            width: 3.5em;
        }
   }
   .pesel{
       input{
            width: 7em;
        }
   }
}
table{
    padding: 2em 5em;
    font-size: 1.5em;
    margin: auto;
    width: 1000px;
    border-spacing: 1px;
    tr, th, td{
        border: 1px solid black;
    }
    img{
        width: 30px;
        height: 30px;
        position: relative;
        float: inline-end;
    }
}