@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
body {
  background: #bebdbd75;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  z-index: 1;
  background: #82dbf1;
  padding: 2em;
  position: sticky;
  top: 0;

  .logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    color: black;

      span{
        color: red;
      }
  }
  .container{
    display: flex;
    place-content: space-between;

    ul{
      display: flex;
      place-content: space-between;
      .index-hl{
        text-decoration: underline;
        color: red;
        font-weight: 700;
      }

      li{
        padding: 0em 1.5em;
      }
      
      a{
        color: black;
      }
    }
  }
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}