form{
    font-size: 1.2em;
    text-align: center;
    padding: 2em 4em;
    div{
        display: inline;
    }
   .pesel{
       input{
            width: 7em;
        }
   }
   .imie{
       input{
            width: 6em;
        }
   }
   .nazwisko{
       input{
            width: 8em;
        }
   }
   .typ_miejscowosci{
       input{
            width: 1em;
        }
   }
}
table{
    padding: 2em 5em;
    font-size: 1.5em;
    margin: auto;
    width: 1000px;
    border-spacing: 0px;
    border-collapse: collapse;
    tr, th, td{
        border: 1px solid black;
    }
    img{
        width: 30px;
        height: 30px;
        position: relative;
        float: inline-end;
    }
}